.button {
  font-family: "HM Medium";
  font-size: 0.8rem;
  color: #f3f3f3;
  padding: 0.8em 2.5rem;
  border-radius: 3rem;
  border: none;
  background-color: #525fdf;

  @include from(lg) {
    font-size: 1rem;
  }
}

.button--icon {
  @extend .button;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.8em 1rem;


  img {
    width: 1.2rem;
    height: 1.2rem;
  }

  @include from(lg) {
    img {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}
